.vibration .item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 0 12px;
  line-height: 16px;
  box-shadow: 0px -0.5px 0px 0px #e4e6eb inset;
}

.vibration .item .label {
  margin-right: 16px;
  white-space: nowrap;
}
.vibration .item .input {
  border: 0;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #191f2b;
  line-height: 16px;
  text-align: right;
}
.vibration .item .input::placeholder {
  font-size: 14px;
  color: #92969e;
}
.vibration .item .tip {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  font-size: 12px;
  color: #92969e;
  line-height: 14px;
}
